body {
	width: 80%;
	margin: 0 auto;
}

#banner {
	width: 100%;
}
img.square {
	width: 400px;
	object-fit: cover;
	height: 400px;
}

#toc {
	background-color: #f8f9fa;
	border: 1px solid #a2a9b1;
	display: table;
	padding: 1em;
}

#toc a {
	text-decoration: none;
}

.tocnumber {
	color: black;
}

.bg-info {
	background-color: #17a2b8;
}

.text-white {
	color: white;
}

.border-danger {
	border: 3px rgb(148, 26, 37) solid;
}
